<html>

  <head>
    <title>Esqueci minha senha</title>
  </head>

  <body>
    <div>
      <h3>Prezado(a) {{name}},</h3>
      <p>Você requisitou una alteração de senha, por favor use este token
        <b>{{token}}</b>
        para alterar sua senha.</p>
      <br />
      <p>Cheers!</p>
      <img src="http://192.168.15.5:8001/v1/assets/beerhIcon.png" alt="BeerH Icon" />
      <br />
      <em style="font-size:17px; font-weight:400;">Time BeerH</em>
    </div>

  </body>

</html>